TELEGRAM_TEST_BOT_USERNAME=TetrisgfgfgfBot
TELEGRAM_TEST_BOT_TOKEN=
TELEGRAM_WEBHOOK_SECRET=
TELEGRAM_PUBLIC_BASE_URL=https://api.edabalans.ru
DATABASE_URL=postgresql+psycopg://user:password@postgres:5432/edabalans
ADMIN_USERNAME=admin@example.com
ADMIN_PASSWORD=
SCHEDULER_ENABLED=false
AUTO_CREATE_SCHEMA=true
SCHEDULER_INTERVAL_SECONDS=2
MEDIA_ROOT=./telegram-bot/runtime/media
